
@media only screen and (max-width: 600px) {

  .logo{

   padding-left: 162px;

  }
  .nosotros_main{
    padding-bottom: 700px;
  }

  .index_img img{

    height: 28vh;
  }

  .oportunidades_main{
    padding-bottom: 2500px;
  }
}